[Desktop Entry]
Name=LOIQ
GenericName=Low Orbit Ion Cannon in Qt
Categories=Networking
TryExec=loiq
Exec=loiq %F
StartupNotify=true
Terminal=false
Type=Application
